{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>



  <div style="margin-top: 300px">
    <table class="table">
        <thead>
            <tr>
                <th>IdRec</th>
                <th>DateRec</th>
                <th>Object</th>
                <th>Reclamation</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idRec }}</td>
                <td>{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.object }}</td>
                <td>{{ reclamation.reclamation }}</td>
                <td>{{ reclamation.email }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'idRec': reclamation.idRec}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>


        {{ knp_pagination_render(reclamations) }}

{% endblock %}
