<div class="page-title-banner">
                <div class="bread_crumb">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 col-lg-9 offset-xl-2 offset-lg-3">
                            <ul class="breadcrumb_wrap">
                                <li><a href="{{ path('app_match_entity_index') }}">Home</a></li>
                                <li class="onpage"><a href="editform.html.twig">Edit Match</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<div class="createt p-96">
    <div class="container">
        <div class="heading mb-64">
            <h2>Edit a Match</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-8 offset-xl-2 offset-lg-3 offset-md-2 mb-xl-0 mb-64">
                {{ form_start(form, {'attr': {'class': 'createt-form'}}) }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb-32">
                                {{ form_label(form.nomMatch, 'Match Name') }}
                                {{ form_widget(form.nomMatch, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-32">
                                {{ form_label(form.dureeMatch, 'Match Duration') }}
                                {{ form_widget(form.dureeMatch, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-32">
                        {{ form_label(form.dateMatch, 'Match Date') }}
                        {{ form_widget(form.dateMatch, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-32">
                        {{ form_label(form.idTournois, 'Tournament ID') }}
                        {{ form_widget(form.idTournois, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="row">
                        <div class="form-group mb-32">
                          {{ form_label(form.idEquipe1, 'Team 1 ID') }}
                          {{ form_widget(form.idEquipe1, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group mb-32">
                          {{ form_label(form.idEquipe2, 'Team 2 ID') }}
                          {{ form_widget(form.idEquipe2, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <button type="submit" class="form-btn w-100 mb-32" class="btn">{{ button_label|default('Edit Match') }}</button>
                    <p class="link">Changed your mind? <a href="{{ path('app_match_entity_index') }}">back to list</a></p>
                {{ form_end(form) }}                                 
            </div>
        </div>
    </div>
</div>