{% extends 'back.html.twig' %}

{% block title %}MatchEntity{% endblock %}

{% block body %}
    <div class="page-title-banner">
                <div class="bread_crumb">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 col-lg-9 offset-xl-2 offset-lg-3">
                            <ul class="breadcrumb_wrap">
                                <li><a href="{{ path('app_match_entity_back_index') }}">Home</a></li>
                                <li class="onpage"><a href="newform.html.twig">Show Match</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<div class="createt p-96">
    <div class="container">
        <div class="heading mb-64">
            <h2>Show Match</h2>
        </div>
    <table class="table">
        <tbody>
            <tr>
                <th>NomMatch</th>
                <td>{{ match_entity.nomMatch }}</td>
            </tr>
            <tr>
                <th>DateMatch</th>
                <td>{{ match_entity.dateMatch ? match_entity.dateMatch|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DureeMatch</th>
                <td>{{ match_entity.dureeMatch }}</td>
            </tr>
            <tr>
                <th>Tournois</th>
                <td>{{ match_entity.idTournois.nomTournois }}</td>
            </tr>
            <tr>
                <th>Equipe1</th>
                <td>{{ match_entity.idEquipe1.nom }}</td>
            </tr>
            <tr>
                <th>Equipe2</th>
                <td>{{ match_entity.idEquipe2.nom }}</td>
            </tr>
        </tbody>
    </table>


    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" class="btn" onclick="window.location.href='{{ path('app_match_entity_edit_back', {'idMatch': match_entity.idMatch}) }}'">Edit Match</button>
        <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" class="btn" onclick="window.location.href='{{ path('match_entity_pdf', {'idMatch': match_entity.idMatch}) }}'">Generate PDF</button>
    {{ include('match_entity_back/_delete_form.html.twig') }}
    <a href="{{ path('app_match_entity_back_index') }}">back to list</a>
    </div>
</div>
{% endblock %}

