<div class="page-title-banner">
                <div class="bread_crumb">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 col-lg-9 offset-xl-2 offset-lg-3">
                            <ul class="breadcrumb_wrap">
                                <li><a href="{{ path('app_tournois_index') }}">Home</a></li>
                                <li class="onpage"><a href="editform.html.twig">Edit Tournament</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<div class="createt p-96">
    <div class="container">
        <div class="heading mb-64">
            <h2>Edit a Tournament</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-8 offset-xl-2 offset-lg-3 offset-md-2 mb-xl-0 mb-64">
                {{ form_start(form, {'attr': {'class': 'createt-form'}}) }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb-32">
                                {{ form_label(form.nomTournois, 'Tournament Name') }}
                                {{ form_widget(form.nomTournois, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-32">
                                {{ form_label(form.stade, 'Stadium Name') }}
                                {{ form_widget(form.stade, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-32">
                        {{ form_label(form.nombreMatch, 'Number of Matchs') }}
                        {{ form_widget(form.nombreMatch, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-32">
                        {{ form_label(form.dateDebut, 'Begining Date') }}
                        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-32">
                        {{ form_label(form.dateFin, 'End Date') }}
                        {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="form-btn w-100 mb-32" class="btn">{{ button_label|default('Edit Tournament') }}</button>
                    <p class="link">Changed your mind? <a href="{{ path('app_tournois_index') }}">back to list</a></p>
                {{ form_end(form) }}                                 
            </div>
        </div>
    </div>
</div>