{% extends 'baseBack.html.twig' %}

{% block title %}Stade index{% endblock %}

{% block content %}

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Stade /</span> Display</h4>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Capacity</th>
                <th>Numero</th>
                <th>Images</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for stade in stades %}
                <tr>
                    <td>{{ stade.nom }}</td>
                    <td>{{ stade.lieu }}</td>
                    <td>{{ stade.capacity }}</td>
                    <td>{{ stade.numero }}</td>
                    <td>
                        <div id="carouselExampleControls{{ stade.id }}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in stade.images %}
                                    <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                                        <img src="{{ asset('uploads/images/' ~ image.urlImage) }}" class="d-block w-100" alt="...">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{ stade.id }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{ stade.id }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <a href="{{ path('app_stade_show', {'id': stade.id}) }}">show</a>
                        <a href="{{ path('app_stade_edit', {'id': stade.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">il n y a pas des stades</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_stade_new') }}">Create new</a>
    </div>
 {{ knp_pagination_render(stades) }}

{% endblock %}
