{% extends 'admindash/index.html.twig' %}

{% block body %}
    <div style="padding-top: 100px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Edit Equipe</div>
                        <div class="card-body">
                            {{ form_start(form, {'attr': {'class': 'form'}}) }}
                            <div class="form-group">
                                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.image, 'Image', {'label_attr': {'class': 'control-label'}}) }}
                                <div class="custom-file">
                                    {{ form_widget(form.image, {'attr': {'class': 'custom-file-input', 'id': 'customFile'}}) }}
                                    <label class="custom-file-label" for="customFile"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.dateCreation, 'Date Creation', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.dateCreation, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group" style="margin-left: 210px; margin-top: 20px">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
