{% extends 'backTournois.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}
    <div class="page-title-banner">
                <div class="bread_crumb">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="mb-3">
                            <ul class="breadcrumb_wrap">
                                <li><a href="{{ path('app_tournois_back_index') }}">Home</a></li>
                                <li class="onpage"><a href="newform.html.twig">Show Tournament</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<div class="mb-3">
    <div class="container">
        <div class="mb-3">
            <h2>Show Tournament</h2>
        </div>
        <table class="table">
        <tbody>
            <tr>
                <th>NomTournois</th>
                <td>{{ tournoi.nomTournois }}</td>
            </tr>
            <tr>
                <th>Stade</th>
                <td>{{ tournoi.stade }}</td>
            </tr>
            <tr>
                <th>NombreMatch</th>
                <td>{{ tournoi.nombreMatch }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ tournoi.dateFin ? tournoi.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" class="btn" onclick="window.location.href='{{ path('app_tournois_back_edit', {'idTournois': tournoi.idTournois}) }}'">Edit Tournament</button>
        <button type="submit" class="btn btn-info w-100 py-8 fs-4 mb-4 rounded-2" class="btn" onclick="window.location.href='{{ path('tournois_pdf', {'idTournois': tournoi.idTournois}) }}'">Generate PDF</button>
    {{ include('tournois_back/_delete_form.html.twig') }}
    <a href="{{ path('app_tournois_back_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
